<?php require ('view/layout/header.php'); ?>

<div class="jumbotron">
  <div class="container">

<h2>Welcome !</h2>

<h4>Choose an entity below (or use the menu)</h4>
<ul>
#foreach( $entity in $selectedEntities )
 <li><a href="/${fn.toLowerCase($entity.name)}.php">${entity.name}</a></li>
#end

</ul>

  </div>
</div>

<?php require ('view/layout/footer.php'); ?>
