#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use ( or 'resources' origin file or folder )
# . value 5 : 
#      - "1" for "ONLY ONE GENERATION" (independently of the number of entities)
#      - "*" (or nothing) for "MULTIPLE GENERATIONS" (one generation for each entity)
#      - "R" for "static resources" to copied
#---------------------------------------------------------

#----- Commons
AbstractController ; AbstractController.php ; /commons ; commons/AbstractController_php.vm ; 1
AbstractDao        ; AbstractDao.php        ; /commons ; commons/AbstractDao_php.vm        ; 1
AbstractHref       ; AbstractHref.php       ; /commons ; commons/AbstractHref_php.vm       ; 1
Action             ; Action.php             ; /commons ; commons/Action_php.vm             ; 1
FormMode           ; FormMode.php           ; /commons ; commons/FormMode_php.vm           ; 1
Logger             ; Logger.php             ; /commons ; commons/Logger_php.vm             ; 1
Message            ; Message.php            ; /commons ; commons/Message_php.vm            ; 1
RequestProcessor   ; RequestProcessor.php   ; /commons ; commons/RequestProcessor_php.vm   ; 1

#----- Entities
Entity class       ; ${BEANNAME}.php        ; /entities   ; entities/Xxx_php.vm   ; 

#----- DAO
DAO class          ; ${BEANNAME}Dao.php     ; /dao        ; dao/XxxDao_php.vm   ; 

#----- Controllers
HREF class         ; ${BEANNAME}Href.php       ; /controller ; controller/XxxHref_php.vm   ; 
Entity Controller  ; ${BEANNAME}Controller.php ; /controller ; controller/XxxController_php.vm ;

#----- Entry points
Entity entry point ; ${BEANNAME_LC}.php     ;      ; Xxx_php.vm ;

#----- VIEW : static resources ( located in 'resources' ) 
PHP files - view/commons ;  ; /view/commons ; /view/commons  ; R
PHP files - view/layout  ;  ; /view/layout  ; /view/layout   ; R
#----- VIEW : templates 
View Header ; header.php          ; /view/layout  ; /view/layout/header_php.vm ; 1
Index page  ; index.php           ;               ; index_php.vm               ; 1
View List   ; ${BEANNAME}List.php ; /view         ; /view/XxxList_php.vm       ; *
View Form   ; ${BEANNAME}Form.php ; /view         ; /view/XxxForm_php.vm       ; *

